# dependencies
node_modules/

# environment variables
.env

# logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# editor folders
.vscode/
.idea/

# build folders (future safe)
dist/
build/

# temporary files
*.tmp
*.temp